@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.container {
  position: relative;
}

.endgame1,
.endgame2,
.endgame3 {
  position: absolute;
  font-size: 8vw;
  text-align: center;
}

.endgame2 {
  top: 1vw;
  left: 1vw;
  color: aqua;
  display: none;
}

.endgame3 {
  top: 2vw;
  left: 2vw;
  color: blue;
  display: none;
}

@media (max-width: 1500px) {
  .endgame1,
  .endgame2,
  .endgame3 {
    font-size: 12vw;
  }
}
